body {
    background-image: url("Assets/Images/pexels-henry-&-co-1939485.jpg");
    background-size: 100%;
}

img {
    float: left;
    margin: 0px 20px 20px 0px;
}

.img-responsive {
    width: 100%;
    margin-top: 40px;
}

h1 {
    margin-bottom: 20px;
}

.navbar-brand {
    background-color: black;
}

.navbar {
    text-align: right;
}

.box {
    margin: 20px;
    margin-top: 75px;
    max-width: 90%;
    background: white;
    padding: 40px;
}